Attributes [swGridMode="3",swRefresh="1",refTime="1",refCycles="1"]
LoadInstrument Seg7[BoundX="247",BoundY="47",BoundW="64",colBkgnd="16744448",Port="0x101",colOn="16777215",colOff="12615680"]
LoadInstrument Seg7[BoundX="314",BoundY="47",BoundW="64",colBkgnd="16744448",Port="0x102",colOn="16777215",colOff="12615680"]
LoadInstrument DILSwitch[BoundX="213",BoundY="129",BoundH="51",BoundW="201",Port="0x100",display1="1",colSwitch="8421504"]
